*{

	background-color: white;
}

h1{

	font-size: 50px;
	font-family: Century, sans-serif;
	border-bottom: 2px;
	clear: both;
	margin-bottom: 10px;
	margin-left: 500px;

}
h2{
	font-size: 30px;
	font-family: Century;
	color:#5c5c5c;
	margin-left: 500px;
}
section > h2{

	font-size: 25px;
	font-family: Century;
	color: #929292;
	margin-left: 500px;
}

h4{

	font-size: 16px;
	font-family: Century;
	color: #93ffdb;
	margin-left: 500px;
}

p{

	font-size: 14px;
	font-family: Century;
	margin-left: 500px;
	margin-bottom: 800px;
}